public/flow/ws_index.json
[{"id":"4b8dc3b6.951bcc","type":"websocket in","z":"9bad82d3.73747","name":"web socket index - in","server":"abc64386.ef263","client":"","x":127,"y":95.00000858306885,"wires":[["c59640e.3a501c"]]},{"id":"c59640e.3a501c","type":"function","z":"9bad82d3.73747","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\nnode.warn('\tmsg.payload:'+\tmsg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    context.global.selectedType=obj.v;\n    msg.payload = {id:\"init_btn\", v: context.global.selectedType}; \n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.url = 'http://localhost:3001/todos/lists?name=finalist&type='+obj.v;\n\tnode.warn('\tmsg.url:'+\tmsg.url);\n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":409.44444274902344,"y":112.33334159851074,"wires":[["ed9b7b58.0b5e18"],["6a5d47e8.bbc178"]]},{"id":"8ddb0c9b.2119c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar finalist = msg.payload;\n\nvar dataString = msgTools.getFinalData(finalist);\n\nmsg.payload = {id:\"change_table\", v: dataString,type: context.global.selectedType}; \nnode.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":856.4444427490234,"y":135.0000123977661,"wires":[["ed9b7b58.0b5e18"]]},{"id":"ed9b7b58.0b5e18","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"abc64386.ef263","client":"","x":1145.4444427490234,"y":95.00001239776611,"wires":[]},{"id":"61dca628.328d38","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/index","info":"receive id='init' to virify type\nsend id = 'init_btn' to change button active by type\nreceive id='change_type' to get devices of type\nget devices of type\nsend id = 'change_type' to change button active by type\n     and change table data by devices of type","x":105.44444274902344,"y":48.00001239776611,"wires":[]},{"id":"6a5d47e8.bbc178","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":616.4444427490234,"y":135.0000123977661,"wires":[["8ddb0c9b.2119c"]]},{"id":"b7a6215e.c888b","type":"websocket out","z":"9bad82d3.73747","name":"web socket mobiUI - out","server":"1efaaa2b.a92da6","client":"","x":883.5633544921875,"y":372.4000024795532,"wires":[]},{"id":"be5e8aed.fe8cb8","type":"websocket in","z":"9bad82d3.73747","name":"web socket tools - in","server":"1efaaa2b.a92da6","client":"","x":120.89668273925781,"y":287.40000915527344,"wires":[["ba3ae481.b0c378","1d9ab1a7.cc60fe"]]},{"id":"33efa9a0.cb85a6","type":"comment","z":"9bad82d3.73747","name":"Listen /ws/devices","info":"","x":107.5633544921875,"y":247.40000247955322,"wires":[]},{"id":"ba3ae481.b0c378","type":"function","z":"9bad82d3.73747","name":"WS/devices","func":"//node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\" || obj.id==\"refresh\"){\n    var json = obj.v;\n    var mac = obj.v.mac;\n    var type = obj.v.type;\n    var date = obj.v.date;\n    var option = obj.v.option;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    context.global.selectedType = type;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&type=\"+type+\"&mdate=\"+date+\"&option=\"+option;\n    node.warn(msg.url);\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":104.00779724121094,"y":371.39999866485596,"wires":[["f53a32e3.17592"]]},{"id":"1d9ab1a7.cc60fe","type":"debug","z":"9bad82d3.73747","name":"","active":false,"console":"false","complete":"payload","x":433.8133544921875,"y":285.0171899795532,"wires":[]},{"id":"f53a32e3.17592","type":"http request","z":"9bad82d3.73747","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":301.5633544921875,"y":371.4000024795532,"wires":[["c49211f1.6e101","c0f72c15.8506c"]]},{"id":"c49211f1.6e101","type":"debug","z":"9bad82d3.73747","name":"","active":true,"console":"false","complete":"false","x":414.8055419921875,"y":451.0171899795532,"wires":[]},{"id":"c0f72c15.8506c","type":"function","z":"9bad82d3.73747","name":"Get Device Information","func":"//node.warn('Get Device Information');\nvar msgTools = context.global.msgTools;\nvar type = context.global.selectedType;\nvar devices = msg.payload;\n\nvar dataString = msgTools.getDevicesData(type,devices);\n\nmsg.payload = {id:\"init_table\", v: dataString,type: context.global.selectedType}; \n//node.warn('Get Device Information msg.payload:\\n'+JSON.stringify(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":582.5633544921875,"y":373.4000024795532,"wires":[["b7a6215e.c888b"]]},{"id":"abc64386.ef263","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1efaaa2b.a92da6","type":"websocket-listener","z":"","path":"/ws/devices","wholemsg":"false"}]